<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Hospital</title>
</head>
<body>
    <form action="addHospital" method="post">
        {% csrf_token %}
        <label for="hid">Hospital ID:</label><br>
        <input type="text" id="hid" name="hid" required><br>
    
         <label for="hnumber">hospital number:</label><br>
        <input type="password" id="hnumber" name="hnumber" required><br> 
    
        <label for="hmail">Email:</label><br>
        <input type="email" id="hmail" name="hmail" required><br>
    
        <label for="hname">Hospital Name:</label><br>
        <input type="text" id="hname" name="hname" required><br>
    
        <label for="pincode">Pincode:</label><br>
        <input type="text" id="pincode" name="pincode" required><br>
    
        <label for="state">State:</label><br>
        <input type="text" id="state" name="state" required><br>
    
        <label for="dist">District:</label><br>
        <input type="text" id="dist" name="dist" required><br>
    
        <label for="Address">Address:</label><br>
        <input type="text" id="Address" name="Address" required><br>
    
        <label for="speciality">Speciality:</label><br>
        <input type="text" id="speciality" name="speciality" required><br><br>
    
        <input type="submit" value="Submit">
    </form>
</body>
</html>